version: '3'

services:

  hadoop-name-node:
    image: hadoop_name_node
    networks:
      main:
        aliases:
          - "hadoop-name-node"

  hadoop-secondary-name-node:
    image: hadoop_secondary_name_node
    networks:
      main:
        aliases:
          - "hadoop-secondary-name-node"

  hadoop-resource-manager:
    image: hadoop_resource_manager
    networks:
      main:
        aliases:
          - "hadoop-resource-manager"

  hadoop-data-node:
    image: hadoop_data_node
    networks:
      main:
        aliases:
          - "hadoop-data-node"

  hadoop-job-history:
    image: hadoop_job_history
    networks:
      main:
        aliases:
          - "hadoop-job-history"

  hadoop-node-manager:
    image: hadoop_node_manager
    networks:
      main:
        aliases:
          - "hadoop-node-manager"

  hadoop-web-app-proxy:
    image: hadoop_web_app_proxy
    networks:
      main:
        aliases:
          - "hadoop-web-app-proxy"


networks:
  main: