version: '3'

services:

  hadoop_name_node:
    build:
      context: ./name_node
    networks:
      main:
        aliases:
          - "hadoop_name_node"


  hadoop_resource_manager:
    build:
      context: ./resource_manager
    networks:
      main:
        aliases:
          - "hadoop_resource_manager"

  hadoop_data_node:
    build:
      context: ./data_node
    networks:
      main:
        aliases:
          - "hadoop_data_node"


networks:
  main: