version: '3'

services:

  hadoop_name_node:
    build:
      context: ./name_node
    networks:
      main:
        aliases:
          - "hadoop_name_node"

  hadoop_secondary_node_manager:
    build:
      context: ./secondary_node_manager
    networks:
      main:
        aliases:
          - "hadoop_secondary_node_manager"

  hadoop_resource_manager:
    build:
      context: ./resource_manager
    networks:
      main:
        aliases:
          - "hadoop_resource_manager"

  hadoop_data_node:
    build:
      context: ./data_node
    networks:
      main:
        aliases:
          - "hadoop_data_node"

  hadoop_job_history:
    build:
      context: ./job_history
    networks:
      main:
        aliases:
          - "hadoop_job_history"

  hadoop_node_manager:
    build:
      context: ./node_manager
    networks:
      main:
        aliases:
          - "hadoop_node_manager"

  hadoop_web_app_proxy:
    build:
      context: ./web_app_proxy
    networks:
      main:
        aliases:
          - "hadoop_web_app_proxy"


networks:
  main: