version: '3'

services:

        hadoop_name_node:
                build:
                        context: ./name_node
                links:
                        - "hadoop_resource_manager"
                        - "hadoop_data_node"

        hadoop_resource_manager:
                build:
                        context: ./resource_manager
                links:
                        - "hadoop_name_node"
                        - "hadoop_data_node"



        hadoop_data_node:
                build:
                        context: ./data_node
                links:
                        - "hadoop_resource_manager"
                        - "hadoop_name_node"


